<nav>
    <a href="/">[INSERT LOGO]</a>
    <ul>
        <li>
            <a href="/">Accueil</a>
        </li>
        <li>
            <a href="#" onclick="event.preventDefault();return false">Annonces</a>
            <ul>
                <li>
                    <a href="/annonces">
                        Toutes les annonces
                    </a>
                </li>
                <li>
                    <a href="/annonces/ajouter">
                        Ajouter une annonce
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</nav>
