<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body>

<aside>
    <%- include('./navigation'); %>
</aside>

<%- include(page, variables) %>

<footer>
    <%- include('./footer'); %>
</footer>

</body>
</html>
