<main>
    <h1 class="mb-10">Ajouter une annonce</h1>
    <form name="ajout-annonce">

        <div>
            <label>
                <span>Titre</span>
                <input type="text" name="titre">
            </label>
        </div>

        <div>
            label
        </div>

    </form>
</main>
