<main>
    <h1 class="mb-10">Annonces</h1>
    <aside>
        <a href="/annonces/ajouter">Ajouter une annonce</a>
    </aside>
    <section>
        <% for(let cursor = 0; cursor < annonces.length; cursor++) { %>
            <article data-id="<%= annonces[cursor]._id; %>" onclick="onClickAnnonce(event)">
                <p><%= annonces[cursor].titre; %></p>
                <div>
                    <button class="remove" onclick="onClickRemoveAnnonce(event)">Supprimer</button>
                </div>
            </article>
        <% } %>
    </section>
</main>

<script>
  function onClickAnnonce (event) {
    event.preventDefault()

    let { target } = event

    if ( 'article' !== target.nodeName ) {
      target = target.closest('article')
    }

    const { id } = target.dataset;

    if ( !id ) throw new Error('No id found for annonce')

    window.location.href = `/annonces/${ id }`

    return false
  }

  function onClickRemoveAnnonce (event) {
    event.preventDefault()
    event.stopPropagation()

    let {target} = event

    if ( 'article' !== target.nodeName ) {
      target = target.closest('article')
    }

    const { id } = target.dataset;

    if ( !id ) throw new Error('No id found for annonce')

    fetch(`http://localhost:3000/api/v1/annonces/${ id }`, {
      method: 'DELETE'
    }).then(response => response.json()
    ).then(response => {
      const { message, ok } = response

      if (!ok) {
        alert(message)
        return
      }

      target.remove()
    })

    return false
  }
</script>
