<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../partials/head'); %>
</head>
<body>

<aside>
    <%- include('../../partials/header'); %>
</aside>

<main>
    <h1 class="mb-10">Recherche par ville</h1>
</main>

<footer>
    <%- include('../../partials/footer'); %>
</footer>

</body>
</html>
